In [29]:
import psycopg2
import pandas as pd
try:
    import configparser
except ImportError:
    import ConfigParser as configparser # для работы с файлом настроек для подключения БД (try для совместимости с версиями младше 3)

In [30]:
# Создаем объект для хранения настроек подключения, и записываем в него настройки из локального файла settings.ini
config_settings = configparser.ConfigParser()
config_settings.read("settings.ini")

# Создаем переменные, для хранения настроек подключения и присваиваем им значения из локального файла-конфигуратора
DBNAME = config_settings["POSTGRES"]["DBNAME"]
USER = config_settings["POSTGRES"]["USER"]
PASSWORD = config_settings["POSTGRES"]["PASSWORD"]
HOST = config_settings["POSTGRES"]["HOST"]
PORT = config_settings["POSTGRES"]["PORT"]

In [31]:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)

In [32]:
# код запроса представляет из себя строковую переменную
n = 10
query = f'''select *
           from sql.pokemon
           limit {n}
        '''
# лучше использовать f-строки — так удобнее передавать параметры

In [33]:
# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df

C:\Users\incon\AppData\Local\Temp\ipykernel_2320\2473184231.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   id                       name  type1   type2  hp  attack  defense  speed
0   1                  Bulbasaur  Grass  Poison  45      49       49     45
1   2                    Ivysaur  Grass  Poison  60      62       63     60
2   3                   Venusaur  Grass  Poison  80      82       83     80
3   4      VenusaurMega Venusaur  Grass  Poison  80     100      123     80
4   7                  Charizard   Fire  Flying  78      84       78    100
5   8  CharizardMega Charizard X   Fire  Dragon  78     130      111    100
6   9  CharizardMega Charizard Y   Fire  Flying  78     104       78    100
7  16                 Butterfree    Bug  Flying  60      45       50     70
8  17                     Weedle    Bug  Poison  40      35       30     50
9  18                     Kakuna    Bug  Poison  45      25       50     35

In [34]:
# не забываем закрыть соединение после окончания работы
connection.close()

In [6]:
import pandas as pd
url = 'https://ru.wikipedia.org/wiki/%D0%94%D0%B5%D0%B9%D1%81%D1%82%D0%B2%D1%83%D1%8E%D1%89%D0%B8%D0%B5_%D0%B3%D0%BB%D0%B0%D0%B2%D1%8B_%D1%81%D1%83%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BE%D0%B2_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%B9_%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8'
main_table = pd.read_html(url)
main_table = main_table[0]
distribution_list = pd.DataFrame({
    'Субъект':list(main_table['Субъект']),
    'Адресат':list(main_table['Наименование должности']),
    'ФИО':list(main_table['Глава субъекта'])
})
#distribution_list.index = list(range(1,83))
distribution_list.to_excel('out.xlsx',index=False)
display(distribution_list)

,Субъект,Адресат,ФИО
0,Республика Адыгея,Глава Республики,Мурат Кумпилов
1,Республика Алтай,Глава Республики,Олег Хорохордин
2,Республика Башкортостан,Глава Республики,Радий Хабиров
3,Республика Бурятия,Глава Республики,Алексей Цыденов
4,Республика Дагестан,Глава Республики,Сергей Меликов
...,...,...,...
84,Еврейская автономная область,Губернатор,Ростислав Гольдштейн
85,Ненецкий автономный округ,Губернатор,Юрий Бездудный
86,Ханты-Мансийский автономный округ — Югра,Губернатор,Наталья Комарова
87,Чукотский автономный округ,Губернатор,Роман Копин
88,Ямало-Ненецкий автономный округ,Губернатор,Дмитрий Артюхов